API_ID=14841756
API_HASH=d3c39c561f98f8decf9aaf171d281e22
BOT_TOKEN=5202725137:AAHDo13sD6gU56Ht6ZgXolAtfY3ApRvNZNs
MONGO_DB_URI=mongodb+srv://ammayy:redminote8.@cluster0.vqxnp.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID=-1001323421994
MUSIC_BOT_NAME=MonxxyMusic
STRING_SESSION=AgAYZAyIjjgWuegV_1pnUD9AfsZnKVZtYVG-GKBZWKsK1QPiaz-GuF6qdE1K44jklsScvS8yoPKM2IGJoSiz_Cg6dt4E8t4flWBPlrDe-Vwto9nH3YkPlvoJN1-c3BrrbgaBKx1dcmIRyUhYNe0NAkOxgTlVuT_24jwc5vAdEIAt6QikeF1lZ47jbBfB0dXMmROJFnsoAie6onT1gGwwAFfpLmVfhxqecwKm-kmMlxctbiuOwsCs7H9PBX0-l0Wf2yVyGRwiHldmcwTlAwD_kvUQxQnj-PXfB7aa7DWRoD6Za5F9fBT2i7y1XCuUoIItWs2NEc2Ewe3-nO1I3ecfp0AAAAATCPC_IA
